body {
  /* font-family: "Courier New", Courier, monospace; */
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 30px 50px 30px;
}
.title {
  font-size: 90px;
}
.non-title {
  font-size: 40px;
}
#parent_1 {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

#child_1_1 {
  flex: 1;
  margin-left: 30px;
}

#child_1_2 {
  flex: 1;
}

#parent_2 {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}

#child_2_1 {
  flex: 1;
}

#child_2_2 {
  flex: 1;
}

#child_3_2 {
  display: flex;
}

.box {
  border: 1px solid rgb(83, 81, 81);
  padding: 15px;
}
#box_1 {
  flex: 1;

  margin-right: 10px;
}

#box_2 {
  flex: 1;
  /* border: 1px solid rgb(83, 81, 81); */
  margin-left: 10px;
  margin-right: 10px;
}
#box_3 {
  flex: 1;
  /* border: 1px solid rgb(83, 81, 81); */
  margin-left: 10px;
}

#parent_1 {
  font-size: large;
}
